@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase&family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase&family=Cormorant+Upright:wght@300;400&family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-image: url('https://cdn.wallpapersafari.com/41/17/SG14UK.jpg');
    background-repeat: no-repeat;
    object-fit: contain;
    position: relative;
    font-family: 'Cormorant Unicase', serif;
}
nav{
    background:whitesmoke;
    display: flex;
    
}
.active-link {
    background-color:transparent;
    border: 1px solid rgb(51, 116, 139);
    font-size: 1rem;
    border-radius: 5px;
    color: rgb(51, 116, 139);
}
.active-link:active {
    color: white;
    background-color: rgba(107, 176, 199, 0.6);
}
.active-link:hover {
   animation-name: hover;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-direction: alternate;
   cursor: pointer;
}
@keyframes hover {
    0% {
        background-color:transparent;
        color: white;
    }
    50% {
        background-color: rgba(107, 176, 199, 0.6);
        color: white;
    }
    100% {
        background-color: rgba(69, 157, 187, 0.6);
        color: white;
    }
}
main{
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    color: rgb(54, 54, 54);
}
.info-main{
    width: 25%;
    position: relative;
    padding-top: 10rem;
    height: fit-content;
    padding-bottom: 2rem;
    transform: translateX(-200px);
    transition: transform 500ms ease-in;
    
    
}
.card-img {
    border: whitesmoke;
    border-radius: 20%;
    width: 60%;
    max-width: 60%;
    object-fit: cover;
    position: absolute;
    top: -6rem;
    right: 20%;
}

.role {
    background:rgba(245, 245, 245, 0.596);
    color: gray;
    width:fit-content;
    font-family: 'Cormorant Upright', serif;
    
}
.socials{
    /* margin-top: -1rem; */
    margin-bottom: 1.5rem;
}
.socials .iconify{
   font-size: 1.5rem;
   color:rgb(51, 116, 139);
}
.info-contact {
    border-radius: 10px;
}
.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
}
.infos p{
    font-size: .8rem;
    font-family: 'Cormorant Upright', serif;
    padding: 0;
    margin: 0;
}
.infos .iconify{
    font-size: 1.5rem;
    color:rgb(51, 116, 139);
}
section {
 width: 65%;
}
.about-main{
    width: 100%;
    padding: 1rem 5rem;
    transform: translateX(150px);
    transition: transform 2s ease-in;
}
.info-main.appear, .about-main.appear {
    transform: translateX(0);
}
.sponsors-img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sponsors-img img{
    width: 5rem; 
    height: 100%;
    margin-bottom: 1rem;
}
.resume {
    margin: 1rem 0;
    font-family: 'Cormorant Unicase', serif;
}
.resume-border {
    width: 4rem;
    height: .3rem;
    border-radius: 10px;
    background-color: rgb(51, 116, 139);
    animation-name: length;
    animation-duration: 2s;
    animation-iteration-count: 3;
   

}
@keyframes length {
    0% {width: 0;
        background-color: rgb(147, 196, 214);
    }
    100% {
        width: 4rem;
        background-color: rgb(51, 116, 139);
    }
}
.about-me h5 {
    font-family: 'Cormorant Unicase', serif;
}
.about-me p{
    font-family: 'Cormorant Upright', serif;
}
/* .about-history {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    

.about-education, .about-experience{
    width: 100%;
}
.about-history-header{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0; 
    align-items: center;
}
.about-history-header .educ{
    font-size: 2.5rem;
    color:rgb(51, 116, 139);
}
.edu {
    width: 80%;
    font-size: 1.7rem;
    font-family: 'Cormorant Unicase', serif;
    font-weight: 800;
    margin-bottom: 0;
}
.hng{
    /* display: flex;
    justify-content: space-between; */
    margin-bottom: 2.5rem;
}
.hng .pointer{
    color:rgb(51, 116, 139);
    font-weight: 800;
}
.zuri-header{
    width: 100%;
}
.zuri-header h6{
    font-size: 1.2rem;
    font-weight: 800;
}
.zuri-header p, .port-header p{
    font-family: 'Cormorant Upright', serif;
}
.zuri-header .date{
    font-size: .8rem;
}


.about-skills {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.skills{
    width: 45%;
}
.skills-header {
    display: flex;
}
.spanner {
    font-size: 2rem;
}
.personal-skills, .coding-skills{
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
}
.skills-set{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}
.skills-set p{
    width: 60%;
    margin: 0;
    padding: 0;
}
.skills-set .pointer{
    color:rgb(51, 116, 139);
    
    font-weight: 200;
}
.stars {
    display: none;
}
.stars .iconify{
    display: flex;
    font-size: 20px;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}
.fade-in.appear {
    opacity: 1;
}

/* burger-menu */
 burger-menu {
  display: none;
} 
     
      
    

   /* .burger-menu.open, .burger-menu-btn {
       
    } 
    */
    .exit {
        padding: .3rem .6rem;
    }

    .exit:hover, .burger-menu:hover{
        border: 1px solid rgb(51, 116, 139);
        border-radius: 5px;
    }


    .side-nav {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-90px);
    }
    .side-nav li {
        list-style: none;
        margin-top: 2rem;
    }
   
    .link-item {
        font-size: 2rem;
        padding: .2rem .6rem;
    }
    .link-item .active-link {
        border: none;
    }
  
    .link-item .active-link:hover {
        animation-name: hover;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-direction: alternate;
        cursor: pointer;
     }
     @keyframes hover {
         0% {
             background-color:transparent;
             color: white;
         }
         50% {
             background-color: rgba(107, 176, 199, 0.6);
             color: white;
         }
         100% {
             background-color: rgba(69, 157, 187, 0.6);
             color: white;
         }
     }
    
     .port-header h6{
         font-size: 1.2rem;
         font-weight: 700;
     }
     .port-header a{
         font-size: 1rem;
         font-weight: 700;
         color:  rgb(51, 116, 139);
         margin: 1rem 0;
     }

     .port-header span{
         font-size: 2.2rem;
         font-weight: 700;
         color:  rgb(51, 116, 139);
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     }
     .port-header p {
         line-height: 2rem;
     }
     .contact {
        background-image: linear-gradient(to bottom, #659db1, #5c95aa, #538da2, #49869b, #407e94, #39758b, #316d82, #2a6479, #23596c, #1d4d5f, #164353, #103847);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 30vh;
     }
     .reach-border {
         width: 3rem;
         height: 0.4rem;
         background-image: linear-gradient(to right, #aac9d5, #a5c7d4, #a1c6d4, #9cc4d3, #97c2d2, #90bdce, #88b9cb, #81b4c7, #75abbf, #6aa2b8, #5e9ab0, #5291a9);
         animation-name: width;
         animation-duration: 2s;
         animation-delay: 3s;
        
     }
     @keyframes width {
         0% {width: 0;
            background-image: linear-gradient(to right, #aac9d5, #a5c7d4, #a1c6d4, #9cc4d3, #97c2d2, #90bdce, #88b9cb, #81b4c7, #75abbf, #7dadc0, #81aab9, #8ab2c2);
         }
         100% {
             width: 3rem;
             background-image: linear-gradient(to right, #aac9d5, #a5c7d4, #a1c6d4, #9cc4d3, #97c2d2, #90bdce, #88b9cb, #81b4c7, #75abbf, #6aa2b8, #5e9ab0, #5291a9);
         }
     }
     .email {
         font-size: 1.2rem;
         font-family: 'Cormorant Upright', serif;
         margin: 1.5rem 0;
         align-items: center;
     }
     .email p {
         padding-left: 1.5rem;
         margin-bottom: 0;
     }

     .contact .socials  .iconify{
         color: white;
     }

     .footer small{
        font-size: .4rem;
    }
 

@media only screen and (max-width: 768.98px){
    nav{
        padding:  0 2rem;
    }
    .nav {
        display: none;
    }
    .burger-menu {
        display: block;
    }
    section {
        width: 90%;
        margin: 0 auto;
    }
    .info-main{
        width: 30%;
        padding-top: 7rem;
    }
    .infos p{
        font-size: .6rem;
    }
    .infos .iconify{
        font-size: 1.2rem;
    }

}
@media only screen and (max-width: 576px){
    main{
        flex-direction: column;
      margin-top: 13rem;
    }
    .info-main{
        width: 90%;
        padding-top: 7rem;
        margin-bottom: 2rem;
    }

    .info-contact {
        padding: 1rem 1.5rem;
    }
    .info-contact p{
         font-size: 1rem;
    }
    .card-img{
        width: 60%; 
        height: 250px;
        top: -9rem;
        right: 20%;
    }
    .about-main{
        width: 100%;
        padding: 1rem;
    }
    .about-skills{
        flex-direction: column;
    }
    .skills{
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}


@media only screen and (max-width:420px){
    main{
        margin-top: 10rem;
    }
    .info-main{
        padding-top: 10rem;
    }
    .card-img{
        top: -6rem;
    }
    .about-history{
        flex-direction: column;
    }
    .about-education, .about-experience{
        width: 100%;  
        text-align: justify;
    }
    .edu{
        width: 80%;
    }
    .zuri-header{
        width: 100%;
    }
}

